* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#favPlace {
    width: 100%;
    height: 100vh;
    background-color: rgb(118, 224, 189);

    >h1 {
        font-size: 40px;
        color: white;
        width: 100%;
        text-align: center;
        padding: 30px 0 50px 0;
    }

    >.gallery {
        width: 100%;
        display: flex;
        justify-content: center;

        >figure {
            width: 350px;
            height: 400px;
            position: relative;
            margin-inline: 40px;
            overflow: hidden;

            &:hover {
                >img {
                    width: 110%;
                    height: 110%;
                    top: -5%;
                    left: -5%;
                }

                >figcaption {
                    opacity: 0;
                }

                &::before {
                    width: 110%;
                    height: 110%;
                    top: -5%;
                    left: -5%;
                }

                &::after {
                    opacity: 0;
                }
            }

            >*,
            &::before,
            &::after {
                position: absolute;
                transition: 1s;
                display: flex;
            }

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }

            >figcaption {
                width: 270px;
                height: 44px;
                background-color: rgba(0, 0, 0, 0.479);
                left: 40px;
                top: 178px;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                color: rgb(200, 200, 200);
                text-transform: capitalize;
                z-index: 2;
                opacity: 1;
            }

            &::before {
                content: '';
                width: 90%;
                height: 90%;
                left: 5%;
                top: 5%;
                border: 1px solid rgb(200, 200, 200);
                z-index: 2;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: black;
                opacity: 0.4;
            }
        }
    }
}